In [1]:
import pandas as pd

# Data Inspection

The data provided for this project in the format of CSV files contains denormalized data representing different aspects of an electrical company's operations. This hypothetical company provided electricity distribution and maintenace services.

Files provided: 
- Bills_raw
- clients_raw
- connections_raw
- service_orders_raw
- technicians_raw

These files contain denormalized and partially redundant information that needs to be cleaned, structured, and integrated into a consistent relational database.

## Bills_raw

In [ ]:
df_bills = pd.read_csv ("./raw_data/bills_raw.csv")
# First 5 rows of data
df_bills.head()

,bill_id,connection_id,client_id,client_name,period_start,period_end,kwh_used,amount,issue_date,payment_date
0,B0001,CN1768,C040,Isabela Simões,2025-02-18,2025-03-20,855,129.28,2025-03-22,2025-03-31
1,B0002,CN1252,C074,Sofia Campos,2025-05-18,2025-06-17,890,59.29,2025-06-19,2025-06-27
2,B0003,CN1226,C197,Luana Soares,2025-09-24,2025-10-24,445,175.68,2025-10-26,2025-11-09
3,B0004,CN1821,C405,Edgar Vieira,2025-04-15,2025-05-15,800,155.23,2025-05-17,2025-06-04
4,B0005,CN1856,C429,Emma Baptista,2024-12-28,2025-01-27,734,158.69,2025-01-29,2025-02-11

In [7]:
# Data Type Information
df_bills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bill_id        3500 non-null   object
 1   connection_id  3500 non-null   object
 2   client_id      3500 non-null   object
 3   client_name    3500 non-null   object
 4   period_start   3500 non-null   object
 5   period_end     3500 non-null   object
 6   kwh_used       3500 non-null   int64
 7   amount         3500 non-null   float64
 8   issue_date     3500 non-null   object
 9   payment_date   3500 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 273.6+ KB

## Clients_raw

In [8]:
df_clients = pd.read_csv ("./raw_data/clients_raw.csv")
# First 5 rows of data
df_clients.head()

,client_id,client_name,email,phone,address,property_address,connection_id,status
0,C162,Inês Almeida,mariopinheiro@example.org,913 009 792,"R. Ema Baptista, 195, 5281-273 Vila Nova de Sa...","Alameda de Guerreiro, 61, 9885-217 Pinhel",CN1000,Disconnected
1,C594,Iara Fernandes,pteixeira@example.org,(351) 928945590,"Av Amaral, 59, 4894-204 Póvoa de Santa Iria","Avenida Guerreiro, 43, 9900-094 Rio Tinto",CN1001,Suspended
2,C527,Ivan Faria,baptistamateus@example.net,230748207,"Avenida de Baptista, 49, 0655-782 Chaves","R. dos Estorninhos, 95, 5854-551 Elvas",CN1002,Active
3,C575,Guilherme Alves,hribeiro@example.org,+351920952294,"Rua Tavares, 75, 0399-529 Alcácer do Sal","Rua Tavares, 75, 0399-529 Alcácer do Sal",CN1003,Active
4,C108,Carlota Carneiro,frocha@example.net,+351912895392,"R. de Castro, 709, 2959-391 Estremoz","R. de Castro, 709, 2959-391 Estremoz",CN1004,Suspended

In [11]:
# Data Type Information
df_clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         100 non-null    object
 1   client_name       100 non-null    object
 2   email             100 non-null    object
 3   phone             100 non-null    object
 4   address           100 non-null    object
 5   property_address  100 non-null    object
 6   connection_id     100 non-null    object
 7   status            100 non-null    object
dtypes: object(8)
memory usage: 6.4+ KB

## Connections_raw

In [10]:
df_connections = pd.read_csv ("./raw_data/connections_raw.csv")
# First 5 rows of data
df_connections.head()

,connection_id,client_id,client_name,property_address,city,connection_type,install_date,meter_serial,status,technician_id,technician_name
0,CN1000,C162,Inês Almeida,"Alameda de Guerreiro, 61, 9885-217 Pinhel",Vizela,Single-phase,2024-06-04,MTR1000,Disconnected,T116,Lúcia do Pinto
1,CN1001,C594,Iara Fernandes,"Avenida Guerreiro, 43, 9900-094 Rio Tinto",Reguengos de Monsaraz,Single-phase,2024-05-19,MTR1001,Suspended,T020,Denis Pires
2,CN1002,C527,Ivan Faria,"R. dos Estorninhos, 95, 5854-551 Elvas",Almeirim,Three-phase,2023-10-07,MTR1002,Active,T067,Henrique Guerreiro
3,CN1003,C575,Guilherme Alves,"Rua Tavares, 75, 0399-529 Alcácer do Sal",0399-529 Alcácer do Sal,Three-phase,2022-10-25,MTR1003,Active,T027,Mia Cunha-Maia
4,CN1004,C108,Carlota Carneiro,"R. de Castro, 709, 2959-391 Estremoz",2959-391 Estremoz,Single-phase,2025-01-17,MTR1004,Suspended,T058,Henrique Santos-Amorim

In [12]:
# Data Type Information
df_connections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   connection_id     1200 non-null   object
 1   client_id         1200 non-null   object
 2   client_name       1200 non-null   object
 3   property_address  1200 non-null   object
 4   city              1200 non-null   object
 5   connection_type   1200 non-null   object
 6   install_date      1200 non-null   object
 7   meter_serial      1200 non-null   object
 8   status            1200 non-null   object
 9   technician_id     1200 non-null   object
 10  technician_name   1200 non-null   object
dtypes: object(11)
memory usage: 103.3+ KB

## Serivce_Orders_raw

In [13]:
df_service_orders = pd.read_csv ("./raw_data/service_orders_raw.csv")
# First 5 rows of data
df_service_orders.head()

,service_order_id,connection_id,client_id,client_name,technician_id,technician_name,service_type,start_date,end_date,notes
0,SO0001,CN1948,C341,Rafael Macedo,T083,Noa Simões,Inspection,2025-02-20,2025-03-01,Underground cable inspection completed
1,SO0002,CN1199,C475,Andreia Rodrigues,T095,Nuno Melo-Garcia,Disconnection,2025-06-17,2025-07-20,Disconnection request fulfilled
2,SO0003,CN1630,C002,Sandro Fonseca,T101,Andreia Cruz,Disconnection,2025-08-05,2025-08-25,Disconnection requested by client
3,SO0004,CN1222,C531,Maria de Figueiredo,T069,Eva Fonseca,Maintenance,2025-04-25,2025-08-14,Protection equipment updated
4,SO0005,CN1670,C309,Lisandro Moreira,T058,Henrique Santos-Amorim,Disconnection,2024-10-29,2025-07-19,Disconnection requested by client

In [14]:
# Data Type Information
df_service_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   service_order_id  2500 non-null   object
 1   connection_id     2500 non-null   object
 2   client_id         2500 non-null   object
 3   client_name       2500 non-null   object
 4   technician_id     2500 non-null   object
 5   technician_name   2500 non-null   object
 6   service_type      2500 non-null   object
 7   start_date        2500 non-null   object
 8   end_date          2500 non-null   object
 9   notes             2500 non-null   object
dtypes: object(10)
memory usage: 195.4+ KB

## Technicians_raw

In [15]:
df_technicians = pd.read_csv ("./raw_data/technicians_raw.csv")
# First 5 rows of data
df_technicians.head()

,technician_id,technician_name,email,phone,center,region,skills
0,T001,Letícia Machado,marcossimoes@rodrigues.com,922038862,Porto Center,Porto,"Installation, Repair"
1,T002,Manuel Lima,santosgabriela@araujo.net,(351) 934 530 693,Coimbra Center,Coimbra,Inspection
2,T003,Tatiana Nunes,miguelreis@jesus.com,(351) 931 816 778,Lisboa Center,Lisboa,Inspection
3,T004,Mafalda Araújo,lleite@ferreira.org,+351964460838,Porto Center,Porto,"Installation, Repair"
4,T005,Salomé Araújo,npires@melo.com,+351913912878,Faro Center,Faro,"Installation, Repair"

In [16]:
# Data Type Information
df_technicians.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   technician_id    120 non-null    object
 1   technician_name  120 non-null    object
 2   email            120 non-null    object
 3   phone            120 non-null    object
 4   center           120 non-null    object
 5   region           120 non-null    object
 6   skills           120 non-null    object
dtypes: object(7)
memory usage: 6.7+ KB